<ion-content [fullscreen]="true" class="fondo">
  <img src="./../../../assets/img/registrapp_logo.PNG" class="logo-registrapp" alt="Logo RegistrApp">

  <div class="centrar-formulario">
    <img src="../../../assets/img/recuperar_contrasena.PNG" alt="Recuperar contraseña">
    <div class="label-input">
      Ingrese un Correo para confirmar el cambio de Contraseña
    </div>

    <div class="input">
     <ion-input style="color: black;" label="Correo" labelPlacement="floating" placeholder="Ingrese un Correo"></ion-input>
    </div>

    <div style="margin: 15px;">
      <ion-button expand="block" (click)="irInicioSession()">Ingresar Correo</ion-button>
      <br><br>
    </div>
  </div>
</ion-content>