<ion-content [fullscreen]="true" class="fondo">
  <img src="./../../../assets/img/registrapp_logo.PNG" class="logo-registrapp" alt="Logo RegistrApp">
  <br>
  <div class="centrar-formulario fondo-formulario">
    <br>
    <img src="../../../assets/img/iniciar_sesion.PNG" alt="iniciar Sesión">
    <br>
    <div style="background-color: white; margin: 15px; display: flex;">
      <div>
        <img src="../../../assets/img/image_22.png" alt="" class="icono">
      </div>
      <div>
        <ion-input [(ngModel)]="usuario" label="Usuario" labelPlacement="floating" placeholder="Ingrese Usuario "
          class="placeHolder"></ion-input>
      </div>
    </div>
 
    <div style="background-color: white; margin: 15px; display: flex;">
      <div>
        <img src="../../../assets/img/bloquear.png" alt="" class="icono">
      </div>
      <div>
        <ion-input [(ngModel)]="password" label="Password" type="password" labelPlacement="floating"
          placeholder="Ingrese Contraseña" class="placeHolder"></ion-input>
      </div>
    </div>
    <div class="boton">
      <ion-button fill="clear" (click)="irRecuperar()">Recuperar Contraseña</ion-button>
    </div>
    <div style="margin: 15px;">
      <ion-button expand="block" (click)="irHome()" class="btn-">Ingresar</ion-button>
      <br>
    </div>
  </div>
</ion-content>