<mat-toolbar class="mat-elevation-z6">
  <button (click)="sidenav.toggle()" mat-icon-button>
    <mat-icon class="blanco">menu</mat-icon>
  </button>
  <span class="blanco">RegistrAPP</span>
  <span class="espacio-toolbar"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [fixedInViewport]="true" #sidenav [opened]="false" mode="push">
    <button (click)="sidenav.toggle()" mat-icon-button><mat-icon>close</mat-icon></button>
    <mat-nav-list>
      <mat-list-item>
        <button mat-button><mat-icon>account_circle</mat-icon>Perfil</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button><mat-icon ><ion-icon name="qr-code-outline"></ion-icon></mat-icon>Escanear QR</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button><mat-icon><ion-icon name="calendar-outline"></ion-icon></mat-icon>Horario</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button><mat-icon><ion-icon name="checkmark-circle-outline"></ion-icon></mat-icon>Asistencias</button>
      </mat-list-item>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </mat-nav-list>
    <div class="flex-container">
      <button mat-raised-button color="warn" routerLink="/inicio-sesion" (click)="sidenav.close()">Cerrar Sesion</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [ngStyle]="{ 'margin-left.em': sidenavWidth - 4 }">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>