<mat-toolbar color="primary" class="mat-elevation-z6">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>RegistrAPP</span>
  <span class="espacio-toolbar"></span>
<button mat-raised-button color="warn" routerLink="/inicio-sesion" routerLinkActive="active-link" >Cerrar Sesion</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [fixedInViewport]="true" #drawer opened="false" mode="push">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button><mat-icon>account_circle</mat-icon>Perfil</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [ngStyle]="{ 'margin-left.em': sidenavWidth - 4 }">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>